/* 商品ページレイアウト */
.product-home {
    overflow: auto;
    margin-bottom: 80px;
}

.product-list {
    position: static;
    margin: 60px 0px 40px 300px;
}
.card-body {
    position: relative;
    overflow: auto;
}
.product-name {
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.card-body img {
    width: 220px;
    height: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}    
.message-login {
    position: absolute;
    padding: 0.75rem 1.25rem;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    animation: fadeout-anim 3s linear forwards;
    opacity: 1;
    text-align: center;
    font-size: 18px;
    background-color: #2bade1;
    width: 1000px;
}
@keyframes fadeout-anim {
    100% {
    opacity: 0;
    }
}








/* 商品画面 */

.show-img {
    margin-left: 80px;
}












/* ユーザー関連のcss */
.ECS-login-input {
    border-radius: 2px;
    margin-top: 5px;
    border: solid 2px #c0aeae;
    background-color: #ffffff;
}
.ECS-check-label {
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.ECS-require-input-label {
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 2px;
    background-color: #cc3b4c;
}
.ECS-require-input-label-text {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    margin: 5px;
    color: #ffffff;
}
.ECS-submit {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    background-color: #2e83c8;
}
.ECS-submit:hover {
    border-color: #2e83c8;
	background-color: #fff;
}
.ECS-login {
    font-size: 14px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: normal;
    color: #2e83c8;
}

body {
    margin-bottom: 60px; /* ナビゲーションバーの高さより大きい値 */
}

.card {
    height: 100%;
}

.card-img-top {
    object-fit: cover;
    height: 200px; /* 適切な高さを指定 */
}


/* header & footer */
.ECS-header-container {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}





/* ユーザー関連のcss */


/* ログイン画面 */
.message {
    margin-bottom: 100px;
}

.mypage-container {
    padding: 0.2em 0.5em;
    color: #565656;
    background: #baf0f6;
    box-shadow: 0px 0px 0px 10px #baf0f6;
    border: dashed 3px rgb(110, 199, 255);
    border-radius: 8px;
}
.user-name {
    font-size: 20px;
}
.mypage-label {
    color: #2e83c8;
    font-size: 60px;
}
/* 会員情報変更画面 */
.mypage-div {
    font-size: 30px;
}
.mypage-span {
    font-size: 14px;
}